.heroSection {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentWrapper {
  position: relative;
  z-index: 4;
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.content {
  width: 40%;
}
.signupButton {
  text-decoration: none;
  border: 1.5px solid #8a724d;
  font-size: 1.6vw;
  background-color: #fde2a1;
  box-shadow: 4px 4px 0 #8a724d54, 4px 4px 0 #8a724d54;
  border-radius: 4px;
  padding: 10px 16px;
}

.description {
  font-size: 2vw;
  margin-bottom: 25px;
}
.demo {
  width: 50%;
}
.box {
  margin-top: 15%;
  background-color: #fde2a1;
  border-radius: 4px;
  padding: 25px;
  box-shadow: 8px 8px 0 #8a724d39, 8px 8px 0 #8a724d39;
}

.gifWrapper {
  border-radius: 4px;
}
.gifWrapper img {
  width: 100%;
  border-radius: 4px;
}
