.heroSection {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentWrapper {
  position: relative;
  z-index: 4;
  width: 55%;
  display: flex;
  justify-content: space-between;
}
.content {
  width: 40%;
}
.signupButton {
  text-decoration: none;
  border: 1.5px solid #8a724d;
  font-size: 1.7rem;
  background-color: #fde2a1;
  box-shadow: 4px 4px 0 #8a724d54, 4px 4px 0 #8a724d54;
  border-radius: 4px;
  padding: 10px 16px;
}

.description {
  font-size: 1.8rem;
  margin-bottom: 25px;
}
.demo {
  width: 55%;
}
.box {
  margin-top: 10%;
}
.box img {
  width: 100%;
}
