.heroSection {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentWrapper {
  position: relative;
  z-index: 4;
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  width: 40%;
}
.signupButton {
  text-decoration: none;
  border: 1.5px solid #8a724d;
  font-size: 1.7rem;
  background-color: #fde2a1;
  box-shadow: 4px 4px 0 #8a724d54, 4px 4px 0 #8a724d54;
  border-radius: 4px;
  padding: 10px 16px;
}

.description {
  font-size: 1.8rem;
  margin-bottom: 30px;
}
.demo {
  width: 55%;
}
.box img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .heroSection {
    padding: 1rem;
  }

  .contentWrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
  }

  .content {
    width: 100%;
    margin-bottom: 2rem;
  }

  .demo {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .box {
    max-width: 300px;
    margin-top: 0;
  }
}
