.content {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.info {
  margin-top: 35vh;
  padding-left: 10%;
}
.info input,
.loginBtn {
  display: block;
  margin: 10px 0px;
  padding: 5px 10px;
  outline: none;
}
.signupBtn {
  color: black;
  font-size: 0.9rem;
}
