.mainDashboard {
  position: relative;
  z-index: 4;
  height: 100vh;
}

header {
  padding: 5vh 5vw 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quote {
  padding: 2vh 5vw;
}
.quote h2 {
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
}
