.content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 4;
}

.info {
  width: 20%;
}
.info input,
.resetBtn {
  display: block;
  outline: none;
  margin: 10px 0px;
}
.info label {
  display: block;
  margin: 15px 0px;
  font-size: 1.2vw;
}

.resetBtn {
  margin: 20px 0px;
}
.highlight {
  font-style: italic;
}
